# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
GUILD_ID=
VERIFIED_ROLE_ID=
ADMIN_ROLE_ID=
PURCHASE_LOG_CHANNEL_ID=
COMMUNITY_CHANNEL_ID=
CLAIM_CHANNEL_ID=1550138645619671091
TICKET_CATEGORY_ID=
PAYOUT_LOG_CHANNEL_ID=
PAYOUT_QUEUE_CHANNEL_ID=1550788584758448248
FAILED_CLAIM_CHANNEL_ID=1550796997148287098

# Roblox
ROBLOX_GROUP_ID=90169160
MIN_ITEM_PRICE=30
CASHBACK_PERCENT=20
COMMUNITY_WAIT_DAYS=7

# API dari Roblox Studio ke bot
API_SECRET=ganti-dengan-random-secret-yang-panjang
PORT=3000

# PostgreSQL
DATABASE_URL=postgresql://postgres:password@localhost:5432/nekobuxx
DATABASE_SSL=false

# Pemeriksaan Community
MEMBERSHIP_CHECK_MINUTES=60
PURCHASE_CARD_RETRY_SECONDS=30
PURCHASE_CARD_RETRY_BATCH_SIZE=10
